*{
  font-family: Verdana;
}

.hidden{
  display: none;
}

.administr{
  display: none;
}

#mainpage{
  min-height: 600px;
}

#adminoptionsmultiselectoptions{
  display: none;
}

.ui-table-columntoggle-btn{
  display:none;
}
