/*Ethan Voting
Version 1.1

Copyright 2015 Ethan Nguyen

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.*/

*{
  font-family: Verdana;
}

.pollidform{
  display: none;
}

.hidden{
  display: none;
}

.administr{
  display: none;
}

.pollidsetup{
  font-size: 4em;
}

.options{
  margin-top: 5px;
  margin-bottom: 5px;
}

.delete{
  margin-left: 5px;
}

table, th, td {
  border: 1px solid black;
}

.header{
  font-size: 3.5em;
}

/*input[type="submit"],
input[type="button"],
button{
  border: 1px solid #bbb;
  background-color: #fff;
  padding: 5px 10px;
  vertical-align: bottom;
}*/

/*input[type="text"],
input[type="number"]{
  padding: 5px 10px;
  border: 1px solid #bbb;
}*/

.footer{
  padding-top: 30px;
}

#blink{
  display:none;
}
